sd_card/boot-zero/wpa_supplicant.conf
sd_card/boot-zero-no_resize/wpa_supplicant.conf
xauth
cpuminer-multi-docker/.DS_Store
sd_card/.DS_Store
.DS_Store
sd_card/boot-controller/wpa_supplicant.conf
python/.venv
.vscode
